<ul>
  <% @videos.each do |video| %>
    <li><%= link_to video.title, "videos/#{video.id}" %> - <%= video.author.name %> <%= link_to 'Edit', "videos/#{video.id}/edit" %> <%= link_to 'Delete', "videos/#{video.id}", method: 'delete' %></li>
  <% end %>
</ul>
<%= link_to 'New Video', 'videos/new' %><br>
<%= link_to 'New Playlist', 'playlists/new' %><br>
<%= link_to 'View All Playlists', 'playlists' %><br>
<%= link_to 'Log out', '/users/sign_out', method: 'delete' %>